//NavBar CSS

//---------VARIABLES---------//
$hoverColor: #E6E6DB;

//--------CLASSES------------//
.navBarDD{
  position: absolute;
  display: none;
  margin-left: -15px;
    ul{
      display: flex;
      flex-direction: column;
        li{
          text-align: left;
          margin: 20px auto 10px  auto;
          cursor: pointer;
          transition: .2s;

          &:hover{
            color: lighten(black, 50%);
            transition: .2s;
          }
        }
    }
}

.navBarLogo{
  height: 80px;
  width: 200px;
}

//-----------ID's------------//
#navBar{
  width: 100vw;
  height: 80px;
  background-color: $hoverColor;
  font-family: 'Helvetica Neue', sans-serif;
  user-select: none;

  .navBarContent{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.7em;

    @media (max-width: 940px){
      display: none;
    }

      li{
        &:hover{

          .navBarDD{
            display: block;
            background-color: $hoverColor;
          }
        }
      }
  }

  #mobileNavBar{
    display: none;
    justify-content: space-between;

    @media (max-width: 940px){
      display: flex;
    }

    #hamburgerMenu{
      font-size: 4em;

      .navBarContent{
        display: none;
      }
    }
  }
}
